# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Streamlit
.streamlit/config.toml

# OS
.DS_Store

# VSCode or editors
.vscode/
.idea/

data/crs_data.csv
data/CRS 2023 data.csv
data/CRS 2022 data.csv
data/UN SDG Progress_Incidence of hiv_csv.csv
data/UN SDG Progress_literacy_csv.csv